*.trmckay.com {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }

    redir https://tmckay.dev
}

*.tmckay.dev {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }

    redir https://tmckay.dev
}

tmckay.dev {
    root * /srv
    file_server browse
}
